<%= form_for(@duplicate) do |f| %>
  <% if @duplicate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@duplicate.errors.count, "error") %> prohibited this duplicate from being saved:</h2>

      <ul>
      <% @duplicate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <% @duplicate.boreholes.each do |borehole| %>
    <% row_class = get_row_class(borehole.handler.auto_remediation) %>
    <tr class='<%= row_class%>'>
  	  <td><%=borehole.eno%></td>
  	  <td><%=borehole.entityid%></td>
  	  <td><%=borehole.entity_type%></td>
  	   <td><%=borehole.x%></td>
  	    <td><%=borehole.y%></td>
  		 <td><%=borehole.z%></td>
	

  	  <td><%=borehole.handler.auto_remediation%></td>
  	  <td><%=borehole.handler.auto_transfer%></td>
  	  <td><%=borehole.handler.or_status%></td>
  	  <td><%=borehole.handler.or_transfer%></td>
  	  <td><%=borehole.handler.or_comment%></td>
  	  <td><%=select_tag :manual_remediation, options_for_select([nil,"KEEP","DELETE","NONE"],borehole.handler.manual_remediation)%></td>
	  
    </tr>
  <% end %>


  <table><tr>
	<td><%= f.label :qaed, "Approve Automatic Remediation?" %></td>
	<td><%= f.select :qaed, options_for_select({nil=>nil,"Yes"=>"Y","No"=>"N"})%></td>
  </tr></table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
