<%= form_tag url_for(params), :method => :get do%>
	<table>
		<tr>
			<td><%= label_tag :borehole_name, "Borehole name:" %></td>
			<td><%= text_field_tag :borehole_name, params[:borehole_name]%></td>
		</tr>
		<tr>
			<td><%= label_tag :borehole_eno, "Borehole ENO:" %></td>
			<td><%= text_field_tag :borehole_eno, params[:borehole_eno]%></td>
		</tr>
		<tr>
			<td><%= label_tag :manual_remediation, "Manual Remediation:" %></td>
			<td><%= select_tag :manual_remediation, options_for_select(yes_no_all,params[:or_status], params[:manual_remediation]) %></td>		
		</tr>
		<tr>
			<td><%= label_tag :or_status, "OR Status:" %></td>
			<td><%= select_tag :or_status, options_for_select([nil,Handler.pluck(:or_status).uniq].flatten,params[:or_status]) %></td>		
		</tr>
	</table>
	<%=submit_tag "Search", :name=>nil %>
<% end %>

