<%= form_tag url_for(params), :method => :get do%>
	<table>
		<tr>
			<td><%= label_tag :name, "Borehole name:" %></td>
			<td><%= text_field_tag :borehole_name, params[:borehole_name]%></td>
		</tr>
		<tr>
			<td><%= label_tag :has_remediation, "Has remdiation:" %></td>
			<td><%= select_tag :has_remediation, options_for_select({"All"=>nil,"Yes"=>"Y","No"=>"N"},params[:has_remediation])%></td>		
		</tr>
		<tr>
			<td><%= label_tag :olr_comment, "OLR Comment:" %></td>
			<td><%= text_field_tag :olr_comment, params[:olr_comment]%></td>		
		</tr>
	</table>
	<%=submit_tag "Search", :name=>nil %>
<% end %>

