<p id="notice"><%= notice %></p>

<h1>Listing Duplicate Groups</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @duplicates.each do |duplicate| %>
      <tr>
        <td><%=duplicate.boreholes.pluck(:entityid).to_sentence%></td>
        <td><%= link_to 'Show', duplicate %></td>
        <!--<td><%= link_to 'Edit', edit_duplicate_path(duplicate) %></td>
        <td><%= link_to 'Destroy', duplicate, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% content_for(:sidebar) do %>
    <p>
		<%= render :partial => "duplicates/query" %>
	</p>
<% end %>
<%= will_paginate @duplicates %>
