<p id="notice"><%= notice %></p>
<h1>Duplicates detected</h1>



<table class='duplicates'>
	<tr>
	  <th>ENO</th>
	  <th>Name</th>
	  <th>Entity Type</th>
	  <th>Auto Remediation</th>
	  <th>Auto Transfer</th>
	  
	  <th>OR remediation</th>
	  <th>OR transfer</th>
	   <th>OR comment</th>
	   <th>Manual remediation</th>
	   <th>Manual transfer</th>
	  </tr>
  
  <% @duplicate.boreholes.each do |borehole| %>
  <% row_class = get_row_class(borehole.handler.auto_remediation) %>
  <tr class='<%= row_class%>'>
	  <td><%=borehole.eno%></td>
	  <td><%=link_to borehole.entityid, borehole%></td>
	  <td><%=borehole.entity_type%></td>
	  <td><%=borehole.handler.auto_remediation%></td>
	  <td><%=borehole.handler.auto_transfer%></td>
	  <td><%=borehole.handler.or_status%></td>
	  <td><%=borehole.handler.or_transfer%></td>
	  <td><%=borehole.handler.or_comment%></td>
	  <td><%=borehole.handler.manual_remediation%></td>
	  <td><%=borehole.handler.manual_transfer%></td>
	  
  </tr>
<% end %>
</table>

<div id="remediation">
	<% if @duplicate.manual_remediation =="Y" %>
		<div id="qaed">
			<ul>
				<li>These duplicates have been manually remediated. </li>
				<li><%= auto_approve_check %></li>
				<li>Please <%= link_to 'edit', edit_duplicate_path(@duplicate) %> if you think changes are required.</li>
			</ul>
		</div>
	<% elsif @duplicate.manual_remediation == "N"%>
		<%= form_for(@duplicate, :url => {:action => :qa}) do |f| %>
  	  		<table>
				<tr>
					<td><%= f.label :auto_approved, "Approve Automatic Remediation?" %></td>
					<td><%= f.select :auto_approved, options_for_select(yes_no_nil)%></td>
  			  	</tr>
			</table>
      	  	<%= f.submit %>

 		<% end %>
    <% end %>
</div>
<% unless @duplicate.comments.blank?%>
<div>
	<div>
		Comments:
	</div>
	<div style="margin: 5px;">
		<%= @duplicate.comments %>
	</div>
</div>
<% end %>

<h2>Entity remediation</h2>

<table class="remediation">
	<tr>
		<th>ENO</th>
		<th>Entity ID</th>
		<th>Entity Type</th>
		<th>Longitude (x)</th>
		<th>Latitude (y)</th>
		<th>Height (z)</th>
		<th>Qualifier</th>
		<th>Remark</th>
		<th>Access Code</th>
		<th>Confidential Until</th>
		<th>QA Status Code</th>
		<th>Acquisition Method Number</th>
	</tr>
	<% @boreholes.each do |borehole| %>
		<tr>
			<td><%= borehole.eno %></td>
			<td><%= borehole.entityid %></td>
			<td><%= borehole.entity_type %></td>
			<td><%= borehole.x %></td>
			<td><%= borehole.y %></td>
			<td><%= borehole.z %></td>
			<td><%= borehole.eid_qualifier %></td>
			<td><%= borehole.remark %></td>
			<td><%= borehole.access_code %></td>
			<td><%= borehole.confid_until %></td>
			<td><%= borehole.qa_status_code %></td>
			<td><%= borehole.acquisition_methodno %></td>
		</tr> <!-- Kept-->
	<% end %>
	<tr></tr> <!-- remediated -->
 		
</table>

<h2>Well remediation</h2>

<table class="remediation">
	<tr>
		<th>ENO</th>
		<th>Well Type</th>
		<th>Purpose</th>
		<th>On/Off</th>
		<th>Title</th>
		<th>Classification</th>
		<th>Status</th>
		<th>Ground Elevation</th>
		<th>Operator</th>
		<th>UNO</th>
		<th>Start Date</th>
		<th>Completion Date</th>
		<th>Comments</th>
		<th>Total Depth</th>
		<th>Originator</th>
		<th>ORIGNO</th>
	</tr>
	<% @boreholes.each do |borehole| %>
		<tr>
			<td><%= borehole.well.eno %></td>
			<td><%= borehole.well.welltype %></td>
			<td><%= borehole.well.purpose %></td>
			<td><%= borehole.well.on_off %></td>
			<td><%= borehole.well.title %></td>
			<td><%= borehole.well.classification %></td>
			<td><%= borehole.well.status %></td>
			<td><%= borehole.well.ground_elev %></td>
			<td><%= borehole.well.operator %></td>
			<td><%= borehole.well.uno %></td>
			<td><%= borehole.well.start_date %></td>
			<td><%= borehole.well.completion_date %></td>
			<td><%= borehole.well.comments %></td>
			<td><%= borehole.well.total_depth %></td>
			<td><%= borehole.well.originator %></td>
			<td><%= borehole.well.origno %></td>
			
			
		</tr> <!-- Kept-->
	<% end %>
		<tr></tr> <!-- remediated -->
 		
</table>

<% if @duplicate.alias_check =="Y"%>
<%= deleted_boreholes.pluck(:entityid).to_sentence %>
<% end %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag    'duplicates', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>

<%= link_to 'Edit', edit_duplicate_path(@duplicate) %> |
<%= link_to 'Back', duplicates_path %>
