<p id="notice"><%= notice %></p>

<h1>Listing Boreholes</h1>

<table>
  <thead>
    <tr>
      <th>ENO</th>
      <th>Entity ID</th>
      <th>Entity Type</th>
      <th>Auto Remediation</th>
	  <th>Auto Transfer</th>
	  <th>OR Remediation</th>
	  <th>OR Transfer</th>
	  <th>Final Remediation</th>
	   <th>Final Transfer</th>
    </tr>
  </thead>

  <tbody>
    <% @boreholes.each do |borehole| %>
      <tr>
        <td><%= borehole.eno %></td>
        <td><%= borehole.entityid %></td>
        <td><%= borehole.entity_type %></td>
        <td><%= borehole.handler.auto_remediation %></td>
		<td><%= borehole.handler.auto_transfer %></td>
		<td><%= borehole.handler.or_status %></td>
		<td><%= borehole.handler.or_transfer %></td>
		<td><%= borehole.handler.manual_transfer %></td>
		<td><%= borehole.handler.manual_remediation %></td>
       <!-- <td><%= link_to 'Destroy', borehole, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for(:sidebar) do %>
    <p>
		<%= render :partial => "query" %>
	</p>
<% end %>

<br>

<%= will_paginate @boreholes %>

