<!DOCTYPE html>
<html>
<head>
  <title>RubyRdis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='container'>
	<div id='banner'></div>
	<div id='topbar'><%= content_for :topbar %></div>
	<div id='header'></div>
	<div id='nav'></div>
	<div id='content'>
		<div id='main'>
    		<div id='controller_nav'></div>
    		<div id='action_content'>
	  		  <%= yield %>
		  	</div>
  	  	</div>
		<div id='sidebar'>
			<%= content_for :sidebar %>
		</div>
	</div>
	<div id='footer'>
	</div>
</div>
</body>
</html>
